@import '../../styles/variables.scss';
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.resume {
  z-index: 10;
  display: flex;
  justify-content: center;

  img {
    min-width: 320px;
    min-height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px $firstAccentColor;
  }
}

.button {
  color: $textColor;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  background-color: $firstAccentColor;
  border: 1px solid $firstAccentColor;
  border-radius: 10px;
  transition: transform 0.2s ease-out;
  &:hover {
    box-shadow: 0px 0px 10px $secondAccentColor;
    transform: scale(1.1);
    cursor: pointer;
  }
}
