@import '../../styles/variables.scss';
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  font-style: bold;
  flex-wrap: wrap;
  .contactsWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .contacts {
    background-color: transparent;
    &:hover {
      transform: scale(105%);
      box-shadow: 0px 0px 10px $secondAccentColor;
    }
  }
  .contactsCircle {
    background-color: transparent;
    &:hover {
      border-radius: 15px;
      transform: scale(105%);
      box-shadow: 0px 0px 10px $secondAccentColor;
    }
  }
}

.navbar {
  padding-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.alex {
  color: $firstAccentColor !important;

  &:hover {
    text-shadow: 0px 0px 10px $secondAccentColor;
  }
}

.menuLink {
  &:hover {
    text-shadow: 0px 0px 10px $secondAccentColor;
  }

  &::after {
    content: '';
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: $firstAccentColor;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
  }
  &:hover::after {
    width: 100%;
    box-shadow: 1px 1px 5px black;
  }
}
