@import '../../styles/variables.scss';
.header {
  width: 100%;
  background-color: $BgOpacityColor;
  backdrop-filter: blur(8px);
  position: fixed !important;
  top: 0;
  z-index: 50;
}
.wrapper {
  max-width: 1370px;
  margin: 0 auto;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-style: bold;
  flex-wrap: wrap;

  .contactsWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .contacts {
    background-color: transparent;
    &:hover {
      transform: scale(105%);
      box-shadow: 0px 0px 10px $secondAccentColor;
    }
  }
  .contactsCircle {
    background-color: transparent;
    &:hover {
      border-radius: 15px;
      transform: scale(105%);
      box-shadow: 0px 0px 10px $secondAccentColor;
    }
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.alex {
  color: $firstAccentColor !important;
  display: flex;
  align-items: center;
  &:hover {
    text-shadow: 0px 0px 10px $secondAccentColor;
    // box-shadow: 0px 0px 10px $secondAccentColor;
  }
}
.logo {
  max-width: 60px;
  max-height: 60px;
}

.menuLink {
  &:hover {
    text-shadow: 0px 0px 10px $secondAccentColor;
  }

  &::after {
    content: '';
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: $firstAccentColor;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.2s ease-out;
  }
  &:hover::after {
    width: 100%;
    box-shadow: 1px 1px 5px black;
  }
}

.LeftSideHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.menuButton {
  display: none;
}

@media (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: $BgOpacityColor;
    backdrop-filter: blur(8px);
  }
  .menuButton {
    display: block;
  }
  .LeftSideHeader {
    padding-top: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #02041dee;
    backdrop-filter: blur(8px);
    overflow: hidden;
  }
  .navbar {
    flex-direction: column;
  }
  .wrapper {
    justify-content: space-around;
  }
}

.MobileMenuIcon {
  width: 36px;
  height: 36px;
}
