@import './variables.scss';
:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

h1, h2, p {
  text-shadow: 3px 4px 2px rgb(10, 0, 50);
}

ul {
  padding-left: 0px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #201533;
}

::-webkit-scrollbar-thumb {
  background: rgba(92, 62, 175, 0.959);
  border-radius: 12px;
  &:hover {
    background: rgba(59, 53, 138, 0.911);
    border-radius: 12px;
  }
}

html {
}

body {
  margin: 0;
  background: rgb(20, 25, 56);
  background: $Gradient;
  // background-image: $bgImage;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed !important;
}
