@import './variables.scss';
:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  background-color: $BgColor;
}

ul {
  padding-left: 0px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #201533;
}

::-webkit-scrollbar-thumb {
  background: rgba(92, 62, 175, 0.959);
  border-radius: 12px;
  &:hover {
    background: rgba(59, 53, 138, 0.911);
    border-radius: 12px;
  }
}

html {
  background-image: $bgImage;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: 0 0;
  background-attachment: fixed;
  
}

body {
  margin: 0;
}
