$BgColor: #1f2134;
$BgOpacityColor: #02041db4;
$Gradient: linear-gradient(
  90deg,
  rgb(2, 7, 49) 0%,
  rgba(45, 21, 57) 25%,
  rgba(54, 48, 159) 50%,
  rgba(38, 70, 89) 75%,
  rgb(29, 3, 44) 100%
);
$textColor: #e2e6ec;
$firstAccentColor: #4766f3;
$secondAccentColor: #f04f50;
$bgImage: url('../assets/BG8.png');
